html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #e5e5e5;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
  display: grid;
  grid-template: "header" auto
                  "content" 1fr
                  / 1fr;
}

@media (max-width: 960px) {
  #root {
    grid-template: "content" 1fr
                  "header" auto
                  / 1fr;
  }
}
